body {
    text-align: center;
    background-image: url('123.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    width: 360px;
    height: 220px;
    display: block;
    margin: 66px;
}

a, div {
    
    color: beige;
    text-size-adjust: 59px;
    vertical-align: middle;
    margin: 52px;
    text-decoration: none;
    font-size: large;
}
p {
    text-align: left;
    margin: 0px 65px;
}
h1, h2{
    color: antiquewhite;
}

ul {
    text-align: left;
    color: antiquewhite;
}

ol {
    text-align: left;
    margin: 0px 65px;
    color: antiquewhite;
}