body {
    text-align: center;
    background-image: url('123.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    
    color: beige;
    text-size-adjust: 59px;
    vertical-align: middle;
    width: 358px;
}
p {
    text-align: left;
    margin: 0px 65px;
}
h1, h2{
    color: antiquewhite;
}

ul {
    text-align: left;
    color: antiquewhite;
}

ol {
    text-align: left;
    margin: 0px 65px;
    color: antiquewhite;
}